@import "tailwindcss";

html,
body {
  direction: rtl;
  width: 100vw;
  height: 100vh;
}
* {
  font-family: "Vazir";
}
@font-face {
  font-family: "Vazir", sans-serif;
  src: url("/public/fonts/Vazirmatn-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
